.ComingSoon{
  height:100%;
  width:100%;
  padding-bottom:100px;
  .background(10%);
  .box{
    .center.both;
  }
  .outer-outer{
    height:300px;
    width: 100%;
    display: block;
    position: relative;
  .outer{
    .center.both;
    .colorCycle(colorCycleText);
    display: inline-block;
  i{
    font-size: 200px;
  }
}
}
  .button_bar{
    .button{
      .background-new;
      .BoxShadowHelper(1);
      .clickable;
      font-size:15px;
      display: inline-block;
      border-radius: 5px;
      margin:5px;
      padding:10px;
      color:white;
      &:nth-child(1){
        background: @myColor;
      }
      &.loading{
        border-bottom:4px solid;
        line-height: 20px;
        .colorCycle(colorCycleBorder);

      }
    }

  }
  .footer{
    width:100%;
    height:100px;
    background: fade(white,50%);
    position: absolute;
    bottom:0;
    border-top: 1px solid fade(@gray-pleasing,10%);
  }
}
