.landing{
  .Font_Body;
  .profile-img{
    .background-new;
    .BoxShadowHelper(1);
    .center.horizontal;
    top:30px;
    width:264px;
    height:264px;
    padding:7px;
    border-radius: 100%;
    img{
      height:250px;
      width:250px;
      border-radius: 100%;
    }
  }
  .hero{
    .BoxShadowHelper(5);
    background-color:white;
    display: block;
    position: relative;
    padding-top: 310px;
    height:450px;
    width:100%;
    .name{
      text-align: center;
      font-size: 80px;
    }
  }
  .widget{
    .BoxShadowHelper(5);
    display: block;
    position:relative;
    background: white;
    height:500px;
    width:300px;
    margin:50px;
    border-radius: 5px;
    .title{
      position: absolute;
      left:30px;
      top:-20px;
      color:@almost-white;
      font-size: 14px;
      padding:20px;
      border-radius: 5px;
      .BoxShadowHelper(1);
      .background-new;
    }

  }
}
