<div class="about" id="about" resize style="min-height:{{windowHeight}}px;">
  <div class="menu_bar">
    Cody Johnson
  </div>
  <div class="row">
    <div class="col-md-5">
      <div class="profile">

        <img alt="profile image" src="/images/me.png" />
      </div>
    </div>
    <div class="col-md-7">
      <div class="bio">
          <p><b>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ac tortor quis enim tincidunt sagittis. Suspendisse lorem nisl, sodales vitae consequat facilisis, eleifend sit amet turpis.</b></p>
        <p> Vivamus venenatis justo orci, a dapibus lectus vulputate at. Suspendisse
        vitae mauris dictum, condimentum purus eget, pretium nulla. Etiam nec diam velit. Sed sed nibh tempus, porta nulla ac, faucibus risus. Suspendisse sit amet sagittis sem, ut vestibulum lorem. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </p><p>
        Duis maximus fermentum elit, sit amet porta odio lobortis non. Sed porttitor sem et felis sollicitudin ornare. Aliquam erat volutpat. Quisque consectetur dignissim varius. Etiam ac urna id odio facilisis rhoncus ut vitae elit. In vel nisi erat.
        Duis sed semper ex, at malesuada purus. Nullam eros risus, tempus vitae dolor consequat, rutrum consequat odio. Fusce mattis pellentesque eros, id vulputate purus dapibus id. Mauris facilisis ipsum eget turpis dapibus, ut sagittis leo sollicitudin.
      </p>
        <p>
      Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum molestie ligula imperdiet, viverra mauris non, pulvinar risus. Sed scelerisque sollicitudin volutpat. Aliquam viverra lectus neque, et mollis magna malesuada in. Sed ornare
        nulla sit amet ante hendrerit porta. In sit amet dolor sit amet neque facilisis semper non sit amet eros. Phasellus tellus mi, blandit non nunc consequat, sollicitudin lobortis ligula. Curabitur orci ligula, hendrerit ac dictum quis, ornare et
</p>  <p>
        justo. Aenean viverra pharetra feugiat. Pellentesque vel nisi enim. Fusce mattis tempus turpis, vitae scelerisque purus. Fusce euismod viverra viverra. Maecenas gravida condimentum velit eu scelerisque. Suspendisse posuere elit justo, sagittis
        finibus mauris pharetra vitae. Pellentesque semper tellus felis, eu fringilla metus mattis sit amet. Nulla a varius erat, ut venenatis augue. Fusce in lacinia sapien.
      </p>
      </div>
    </div>
  </div>
</div>
