<div class="about2" id="about" resize style="height:{{windowHeight}}px;">
  <div class="menu_bar">
    <div class="logo_container" ng-click="scrollTo('home')">
      <img class="logo" src="images/Logo.png" />
    </div>

    <div class="menu_item" ng-click="scrollTo('about')">
      <div class="inner">
        <i class="fa fa-id-card"></i> About
      </div>
    </div>


    <div class="menu_item" ng-click="scrollTo('projects')">
      <div class="inner">
        <i class="fa fa-tasks"></i> Projects
      </div>
    </div>

    <div class="menu_item" ui-sref="app.ComingSoon">
      <div class="inner">
        <i class="fa fa-book"></i> Blog
      </div>
    </div>


    <div class="menu_item" ng-click="scrollTo('resume')">
      <div class="inner">
        <i class="fa fa-file-text"></i> Resume
      </div>
    </div>


  </div>
  <div class="content">
    <div class="row" style="height:100%;padding:0">
      <div class="col-md-5 col-sm-5 hidden-xs" style="height:100%;padding:0;margin:0">
        <div class="profile">
          <div class="title">
            About
          </div>
          <div class="name">
            Cody <br />Johnson
          </div>
          <img src="/images/me.png" />
          <div class="mask">

          </div>
        </div>
      </div>
      <div class="col-md-7 col-sm-7 col-xs-12" style="height:100%;">
        <div class="bio">
          <div class="header">
            <div class="name visible-xs-block">
              Cody <br />Johnson
            </div>
          </div>
          <div class="inner_bio">
            <p><b>Hey, first things first I'm not a fan of writing about myself but if I leave this as "lorem ipsum" filler text than google thinks my page is in latin and tries to translate it so here we go.</b></p>
            <p>
            </p>
            <p>
              My goal is to bridge the gap between those who understand data, with all of its’ nuances and implication and those that make decisions based on the data, applying my understanding of math and statistics to the business world. During my time working in analytics I have come to realize that there is often a disconnect between those analyzing and interpreting the data and those making decisions based on it. If those making decisions had a better understanding of the information they are presented, then I believe that countless missteps and pitfalls could be avoided.
              </p>
            <!--<p>
              After beginning university, I quickly realized that while I loved math with its’ inherent beauty and simplicity, it moved on a timetable that was unacceptable to me, I wanted to participate in the world to make an active impact on what surrounded me. However, the ideas behind the study of math could readily be applied to other aspect of life, in math you essentially start with a set of axioms or things that you know to be true and then carefully and rigorously build on them one logical step at a time until you arrive at more complex mathematical ideas. This ability to make clear logical decisions, avoiding logical pitfalls combined with my study of statistics and economics for when the path is less clear and some amount of inference becomes necessary is what I hope to contribute to the world.
            </p>-->

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
