<div class="Email">
    <div class="preview_header">
          
        </div>
    <div class="preview_box">
            <div class="title">
                    Ben Havey
                    <br />
                    <span>The Void Follow Up</span>
                </div>
        <button id="split-button" type="button" class="btn btn-primary" uib-dropdown-toggle>
            Download <i class="fa fa-cloud-download"></i>
        </button>
        <div class="btn-group" uib-dropdown>
            <button id="split-button" type="button" class="btn btn-primary" uib-dropdown-toggle>
                Forward <i class="fa fa-mail-forward"></i>
            </button>

            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
                <li role="menuitem"><a href="#">HTML</a></li>
                <li role="menuitem"><a href="mailto:?subject=Test">Plain Text</a></li>
            </ul>
        </div>
        <iframe srcdoc="{{page}}" class="preview_email">
        </iframe>
    </div>
</div>