<div class="view landing">
  <div class="outer_hero">
  <div class="hero">

    <div class="profile-img">
      <img src="images/profile.jpg" />
    </div>
    <div class="name">
      Cody Johnson
    </div>
    <div class="button_box">
    <div class="button hvr-pulse-grow">
      <a href="https://codysj.myqnapcloud.com/share.cgi?ssid=0kUnrwk" >
      Resume
    </a>
    </div>
  </div>
  </div>
</div>
  <div ng-show="false" class="widget">
    <div class="title">
        Education
    </div>
  </div>
</div>
