<div class="resume" id="resume">
  <div class="header">
    <div class="title">
      <span class="slash">&nbsp&nbsp&nbsp&nbsp</span> Resume <span class="slash">&nbsp&nbsp&nbsp&nbsp</span>
    </div>
    <div class="logo">
      <img src="images/Logo.png" />
    </div>
  </div>
  <div class="main">
    <div class="row" style="padding:10px 20px 10px 20px">
      <div class="col-sm-12 col-md-4 col-lg-3 profile" >
        <div class="card" sticky offset="110" media-query="min-width: 991px">
          <div class="intro">
            <div class="profile-img">
              <img src="images/me.png" />
            </div>
            <div class="name">
              Cody Johnson
              <div class="subtitle">
                Data Scientist | MBA Candidate | Connecting Business and Statistics
              </div>
              <div class="local">
                Provo, UT
              </div>
            </div>

          </div>
          <div class="contact">
            <div class="detail">
              <i class="fa fa-envelope"></i> cody.s.johnson@utah.edu
            </div>
            <div class="detail">
              <i class="fa fa-phone"></i> +1 (385) 985-3897
            </div>
            <div class="detail">
              <a href="https://www.linkedin.com/in/codyscottjohnson/"><i class="fa fa-linkedin"></i> linkedin.com/in/codyscottjohnson/</a>
            </div>
          </div>
          <a class="download" tabindex="1" target="_self" href="/files/Cody_Johnson_Resume.pdf" download>
            Download Resume
          </a>
        </div>
      </div>
      <div class="col-sm-12 col-md-8 col-lg-8 resume_detail" >
        <div ng-include="'/views/Pages/Resume_Details.html'">

        </div>
      </div>
    </div>
  </div>
</div>
