<div class="resume_preview">
  <div class="preview_header">
  </div>
  <div class="resume_holder">
    <div class="title">
      Cody Johnson
      <br/>
      <span>Resume</span>
    </div>

    <a target="_self" href="https://www.codyscottjohnson.com/files/Cody_Johnson_Resume.pdf">
    <img  class="resume" src="images/resume_preview.jpg" />
    </a>
    <div class="buttons">
            <a target="_self" href="https://jfsapp.com/Images/JobSearch/Cody_Johnson_Contact_Card.vcf"><button><i class="fa fa-address-card"></i>Contact Card</button></a>
       <a target="_self" href="https://www.codyscottjohnson.com"> <button ><i class="fa fa-globe"></i>Website</button></a>
    </div>
  </div>
</div>
